{% extends "header.html" %}

{% block root %}

<div class="container">
    <div class="row">
        {% for i, (service_id, service) in enumerate(services.iteritems()) %}
            {% set location = service["location"] %}

            {% set metadata = service["metadata"] or {} %}
            {% set title = metadata.get("title", service_id) %}
            {% set description = metadata.get("description", "") %}
            {% set icon = metadata.get("icon") %}

            <div class="col-xs-6 col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading like-heading">
                        {{ title }}
                    </div>
                    <div class="panel-body">
                        {% if icon %}
                        <p align="center">
                            <i class="fa fa-3x fa-{{ icon }}" aria-hidden="true"></i>
                        </p>
                        {% end %}
                        <p align="center">
                            <a class="btn btn-default btn-block" href="/service/{{ service_id}}/index">
                                <span class="glyphicon glyphicon-wrench"></span> Manage
                            </a>
                        </p>
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>

            {% if i % 4 == 3 %}
                </div><div class="row">
            {% end %}
        {% end %}
    </div>
</div>

{% end %}